<h1>Here are the companionships</h1>

<%= link_to "Create new companionship", new_companionship_path, class: "btn btn-success" %>
<br/>

<div class='row'>
  <% @companionships.each do |companionship| %>
    <%= link_to companionship_path(companionship) do%> 
      <div class="col-md-2 well well-sm">
        <% companionship.home_teachers.each do |home_teacher| %>
          <p><%= home_teacher.full_name %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
